<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adity.major_project">

    <!-- To auto-complete the email acti_list field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/healthcare"
        android:label="HealthCare Monitoring"
        android:roundIcon="@mipmap/healthcare"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OpenApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".SignUpActivity"
            android:label="Sign in" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register your detials" />
        <activity
            android:name=".HomePage"
            android:label="Home" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".CheckPulseActivity"
            android:label="Check Pulse"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".CheckTempActivity"
            android:label="Check Temperature"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".Predict_disease_Activity"
            android:label="Predict your disease"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".ContactDoctorActivity"
            android:label="Contact Doctor"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".AddDoctorDetails"
            android:label="Add Doctor Details"></activity>
        <activity android:name=".Call_doctor"></activity>
    </application>

</manifest>